/* Base Application Styles */
/*body {
  color: #fff;
  background: #222;
}

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}
*/

html,body{
  width:100%;
  height:100%;
  background-color: #222;
}

#app,.stage{
  width:100%;
  height:100%;
}

/*images start*/
.img-sec{
  position: relative;
  width: 100%;
  height: 100%;

  overflow: hidden;

  background-color: #ddd;
}
/*images end*/

/*controller start*/
.controller-nav{
  position: absolute;

  bottom:30px;
  left: 0;

  z-index: 19;
  width:100%;

  text-align: center;
}
/*controller end*/
